@model MagazinCore.Models.Produs

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Produs</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Denumire)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Denumire)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descriere)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descriere)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Acciz)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Acciz)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Culoare)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Culoare)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imagine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Imagine)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
