@model IEnumerable<MagazinCore.Models.ViewModels.UserWithRoles>

    @{
        ViewData["Title"] = "Tranzactii";
    }

    <h1>Tranzatia</h1>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @foreach (var role in item.Roles)
                        {
                            <div  class="badge badge-info">
                                @role
                                <a onclick="deleteRole('@item.Id','@role')">x</a>
                            </div>
                        }
                    </td>
                    <td>
                            @Html.DropDownList("Role"+item.Id, (IEnumerable<SelectListItem>)ViewBag.Roles, new { @class = "btn dropdown-toggle" })

                            @*<button class="badge badge-danger">+</button>*@
                            <a class="badge badge-danger" onclick="addRole('@item.Id')">+</a>
                    </td>

                </tr>
            }
        </tbody>
    </table>
<script>
    function deleteRole(userId, role) {
        var xhr = new XMLHttpRequest();

        xhr.open("POST", "/Admin/DeleteUserRole");
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

        xhr.send("userId="+userId+"&role="+role);
    }

    function addRole(userId) {
        var xhr = new XMLHttpRequest();

        var e = document.getElementById("Role"+userId);
        var role = e.options[e.selectedIndex].text;

        xhr.open("POST", "/Admin/AddUserRole");
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

        xhr.send("userId=" + userId + "&role=" + role);
    }
</script>
