@model MagazinCore.Models.CosElemente

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CosElemente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cantitate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cantitate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cos.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Produs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Produs.id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
